@model IEnumerable<CampeonatoOrganizado.Models.Atleta>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Atletas</title>
</head>
<body>
    <h1>Lista de Atletas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>ID Campeonato</th>
                <th>ID Modalidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var atleta in Model)
            {
                <tr>
                    <td>@atleta.id_atleta</td>
                    <td>@atleta.nome_atleta</td>
                    <td>@atleta.data_nascimento.ToShortDateString()</td>
                    <td>@atleta.id_campeonato</td>
                    <td>@atleta.id_modalidade</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>